<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Cocktails API Documentation" />
    <title>KNS - Cocktails API</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png"/>
    <link rel="stylesheet" href="/css/swagger-ui.css" />
  </head>
  <body>
  <div id="swagger-ui"></div>
  <script src="/js/swagger-ui-bundle.js" crossorigin></script>
  <script>
    window.onload = () => {
      window.ui = SwaggerUIBundle({
        url: '/cocktails-openapi-docs.json',
        dom_id: '#swagger-ui',
      });
    };
  </script>
  </body>
</html>
