{
  "openapi": "3.0.3",
  "info": {
    "title": "Solvro Cocktails API",
    "description": "The Solvro Cocktails API API allows fetch cocktails recipes with ingredients bases on thecocktailsdb. This api is mainly used for recrutation purposes, but fell free to build whatever you like with it. <center> <img src=\"/images/banner.png\" /> </center>",
    "contact": {
      "email": "kn.solvro@pwr.edu.pl"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.1.0"
  },
  "externalDocs": {
    "description": "Find out more about Solvro",
    "url": "https://solvro.pwr.edu.pl"
  },
  "servers": [
    {
      "url": "https://cocktails.solvro.pl/api/v1"
    }
  ],
  "tags": [
    {
      "name": "Ingredients",
      "description": "Everything about cocktail ingredients"
    },
    {
      "name": "Cocktails",
      "description": "Everything about cocktails"
    }
  ],
  "paths": {
    "/ingredients": {
      "get": {
        "tags": [
          "Ingredients"
        ],
        "summary": "Display listing of ingredients",
        "description": "Allows you to display listing of ingredients with filtering and sorting support. All parameters support exact, like, list, range filtering.",
        "operationId": "ingredientsIndex",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Main ingredient identifier",
            "required": false,
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "id[]",
            "in": "query",
            "description": "Allows you to filter by multiple values",
            "required": false,
            "explode": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "id[from]",
            "in": "query",
            "description": "Allows you to filter by from range",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "id[to]",
            "in": "query",
            "description": "Allows you to filter by to range",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Allows you to filter name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "description": "Allows you to filter description. Support like, so you can search by parial description with %keyword%",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alcohol",
            "in": "query",
            "description": "Allows you to filter wheather or not ingredient contains alcohol. Supports 1/0 and true/false",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Allows you to filter by type. You can fetch all types in /ingredient/types endpoint",
            "schema": {
              "$ref": "#/components/schemas/IngredientType"
            }
          },
          {
            "name": "percentage",
            "in": "query",
            "description": "Allows you to filter by alcohol percentage as integer value. Supports exact, list, range filtering.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "createdAt",
            "in": "query",
            "description": "Allows you to filter by createdAt. Supports exact, list, range filtering.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedAt",
            "in": "query",
            "description": "Allows you to filter by updatedAt. Supports exact, list, range filtering.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Allows you to sort by any ingredient field. First char determines sort type.",
            "schema": {
              "type": "string",
              "enum": [
                "+id",
                "-id",
                "+name",
                "-name",
                "+description",
                "-description",
                "+alcohol",
                "-alcohol",
                "+type",
                "-type",
                "+percentage",
                "-percentage",
                "+createdAt",
                "-createdAt",
                "+updatedAt",
                "-updatedAt"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Allows you to set page and use pagination.",
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "Allows you to set how many records are shown on the page.",
            "schema": {
              "type": "number",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Ingredient"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ingredients/{id}": {
      "get": {
        "tags": [
          "Ingredients"
        ],
        "summary": "Display one ingredient",
        "operationId": "ingredientsShow",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ingredient id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Ingredient"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": [
                        "Row not found"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ingredients/types": {
      "get": {
        "tags": [
          "Ingredients"
        ],
        "summary": "Display listing of ingredients types",
        "description": "Display list of ingredients types that can be further used for filtering",
        "operationId": "ingreadientsTypesIndex",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IngredientType"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cocktails": {
      "get": {
        "tags": [
          "Cocktails"
        ],
        "summary": "Display listing of cocktails",
        "description": "Allows you to display listing of cocktails with filtering and sorting support. All parametrs support exact, like, list, range filtering. You can also filter by ingredient id and attach ingredients.",
        "operationId": "cocktailIndex",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Main ingredient identifier",
            "required": false,
            "explode": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "id[]",
            "in": "query",
            "description": "Allows you to filter by multiple values",
            "required": false,
            "explode": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "id[from]",
            "in": "query",
            "description": "Allows you to filter by from range",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "id[to]",
            "in": "query",
            "description": "Allows you to filter by to range",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Allows you to filter name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instructions",
            "in": "query",
            "description": "Allows you to filter instructions. Support like, so you can search by parial instructions with %keyword%",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alcoholic",
            "in": "query",
            "description": "Allows you to filter wheather or not cocktail contains alcohol. Supports 1/0 and true/false",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Allows you to filter by category. You can fetch all categories in /cocktail/categories endpoint",
            "schema": {
              "$ref": "#/components/schemas/CocktailCategory"
            }
          },
          {
            "name": "glass",
            "in": "query",
            "description": "Allows you to filter by cocktail glasses. You can fetch all glasses in /cocktail/glasses endpoint",
            "schema": {
              "$ref": "#/components/schemas/CocktailGlass"
            }
          },
          {
            "name": "createdAt",
            "in": "query",
            "description": "Allows you to filter by createdAt. Supports exact, list, range filtering.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedAt",
            "in": "query",
            "description": "Allows you to filter by updatedAt. Supports exact, list, range filtering.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Allows you to sort by any ingredient field. First char determines sort type.",
            "schema": {
              "type": "string",
              "enum": [
                "+id",
                "-id",
                "+name",
                "-name",
                "+instructions",
                "-instructions",
                "+alcoholic",
                "-alcoholic",
                "+category",
                "-category",
                "+glass",
                "-glass",
                "+createdAt",
                "-createdAt",
                "+updatedAt",
                "-updatedAt"
              ]
            }
          },
          {
            "name": "ingredientId",
            "in": "query",
            "description": "Allows you to sort by ingredients in cocktail. Supports exact, list and range filtering.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "ingredients",
            "in": "query",
            "description": "Allows you to attach ingredients relation. Cocktail return result like in display one cocktail. Supports 1/0 and true/false",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Allows you to set page and use pagination.",
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "Allows you to set how many records are shown on the page.",
            "schema": {
              "type": "number",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Cocktail"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cocktails/{id}": {
      "get": {
        "tags": [
          "Cocktails"
        ],
        "summary": "Display one cocktail with ingredients",
        "operationId": "cocktailShow",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Cocktail id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Cocktail"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "ingredients": {
                              "type": "array",
                              "items": {
                                "allOf": [
                                  {
                                    "$ref": "#/components/schemas/Ingredient"
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "measure": {
                                        "type": "string",
                                        "example": [
                                          "1/2 oz"
                                        ]
                                      }
                                    }
                                  }
                                ]
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": [
                        "Row not found"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cocktails/glasses": {
      "get": {
        "tags": [
          "Cocktails"
        ],
        "summary": "Display listing of cocktail glasses",
        "description": "Display list of cocktail glasses that can be further used for filtering",
        "operationId": "cocktailGlassesIndex",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CocktailGlass"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cocktails/categories": {
      "get": {
        "tags": [
          "Cocktails"
        ],
        "summary": "Display listing of cocktail categories",
        "description": "Display list of cocktail categories that can be further used for filtering",
        "operationId": "cocktailCategoriesIndex",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CocktailCategory"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CocktailCategory": {
        "type": "string",
        "nullable": true,
        "enum": [
          "Cocktail",
          "Ordinary Drink",
          "Punch / Party Drink",
          "Shake",
          "Other / Unknown",
          "Cocoa",
          "Shot",
          "Coffee / Tea",
          "Homemade Liqueur",
          "Soft Drink"
        ]
      },
      "CocktailGlass": {
        "type": "string",
        "nullable": true,
        "enum": [
          "Highball glass",
          "Old-fashioned glass",
          "Cocktail glass",
          "Copper Mug",
          "Whiskey Glass",
          "Collins glass",
          "Pousse cafe glass",
          "Champagne flute",
          "Whiskey sour glass",
          "Brandy snifter",
          "White wine glass",
          "Nick and Nora Glass",
          "Hurricane glass",
          "Coffee mug",
          "Shot glass",
          "Jar",
          "Irish coffee cup",
          "Punch bowl",
          "Pitcher",
          "Pint glass",
          "Cordial glass",
          "Beer mug",
          "Margarita/Coupette glass",
          "Beer pilsner",
          "Beer Glass",
          "Parfait glass",
          "Wine Glass",
          "Mason jar",
          "Margarita glass",
          "Martini Glass",
          "Balloon Glass",
          "Coupe Glass"
        ]
      },
      "IngredientType": {
        "type": "string",
        "nullable": true,
        "enum": [
          "Vodka",
          "Gin",
          "Rum",
          "Spirit",
          "Whisky",
          "Syrup",
          "Beer",
          "null",
          null,
          "Liqueur",
          "Bitter",
          "Brandy",
          "Cider",
          "Liquor",
          "Beverage",
          "Garnish",
          "Sambuca",
          "Whiskey",
          "Liquer",
          "Candy",
          "Fruit",
          "Soft Drink",
          "Water",
          "Mineral",
          "Wine",
          "Soda",
          "Cream",
          "Milk",
          "Juice",
          "Coffee",
          "Sherry",
          "Spice",
          "Mix",
          "Fortified Wine",
          "Sauce",
          "Tequila",
          "Schnapps",
          "Sugar",
          "Stout",
          "Alcopop",
          "Cordial",
          "Flower",
          "Bitters",
          "Aperitif",
          "Cola",
          "Rice wine",
          "Sweet",
          "Tea",
          "Port",
          "Vinegar",
          "Confectionery",
          "Vermouth",
          "Mixer",
          "Fruit Juice",
          "Herb",
          "Seasoning"
        ]
      },
      "Ingredient": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": [
              10,
              11
            ]
          },
          "name": {
            "type": "string",
            "example": [
              "Red wine",
              "Grapefruit juice"
            ]
          },
          "description": {
            "type": "string",
            "nullable": true,
            "example": [
              "Red wine is a type of wine made from dark-colored grape varieties. The color of the wine can range from intense violet, typical of young wines, through to brick red for mature wines and brown for older red wines",
              "Grapefruit juice is the juice from grapefruits. It is rich in vitamin C and ranges from sweet-tart to very sour."
            ]
          },
          "alcohol": {
            "type": "boolean",
            "nullable": true,
            "example": [
              true,
              false
            ]
          },
          "type": {
            "$ref": "#/components/schemas/IngredientType"
          },
          "percentage": {
            "type": "number",
            "nullable": true,
            "example": [
              40,
              null
            ]
          },
          "imageUrl": {
            "type": "string",
            "nullable": true,
            "example": [
              "https://cocktails.solvro.pl/images/ingredients/rose.png",
              "https://cocktails.solvro.pl/images/ingredients/pomegranate-juice.png"
            ]
          },
          "createdAt": {
            "type": "string",
            "example": [
              "2024-08-19 18:39:58",
              "2024-08-20 13:19:58"
            ]
          },
          "updatedAt": {
            "type": "string",
            "example": [
              "2024-08-19 18:39:58",
              "2024-08-21 10:12:58"
            ]
          }
        }
      },
      "Cocktail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": [
              11000,
              11001
            ]
          },
          "name": {
            "type": "string",
            "example": [
              "Mojito",
              "Old Fashioned"
            ]
          },
          "instructions": {
            "type": "string",
            "nullable": true,
            "example": [
              "Muddle mint leaves with sugar and lime juice. Add a splash of soda water and fill the glass with cracked ice. Pour the rum and top with soda water. Garnish and serve with straw",
              "Place sugar cube in old fashioned glass and saturate with bitters, add a dash of plain water. Muddle until dissolved.\r\nFill the glass with ice cubes and add whiskey.\r\n\r\nGarnish with orange twist, and a cocktail cherry"
            ]
          },
          "alcoholic": {
            "type": "boolean",
            "example": [
              true,
              true
            ]
          },
          "category": {
            "$ref": "#/components/schemas/CocktailCategory"
          },
          "glass": {
            "$ref": "#/components/schemas/CocktailGlass"
          },
          "imageUrl": {
            "type": "string",
            "nullable": true,
            "example": [
              "https://cocktails.solvro.pl/images/cocktails/mojito.png",
              "https://cocktails.solvro.pl/images/cocktails/old-fashioned.png"
            ]
          },
          "createdAt": {
            "type": "string",
            "example": [
              "2024-08-19 18:39:58",
              "2024-08-20 13:19:58"
            ]
          },
          "updatedAt": {
            "type": "string",
            "example": [
              "2024-08-19 18:39:58",
              "2024-08-21 10:12:58"
            ]
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64",
            "example": [
              133
            ]
          },
          "perPage": {
            "type": "integer",
            "format": "int64",
            "example": [
              15
            ]
          },
          "currentPage": {
            "type": "integer",
            "format": "int64",
            "example": [
              1
            ]
          },
          "lastPage": {
            "type": "integer",
            "format": "int64",
            "example": [
              9
            ]
          },
          "firstPage": {
            "type": "integer",
            "format": "int64",
            "example": [
              1
            ]
          },
          "firstPageUrl": {
            "type": "string",
            "example": [
              "/?page=1"
            ]
          },
          "lastPageUrl": {
            "type": "string",
            "example": [
              "/?page=9"
            ]
          },
          "nextPageUrl": {
            "type": "string",
            "nullable": true,
            "example": [
              "/?page=2"
            ]
          },
          "previousPageUrl": {
            "type": "string",
            "nullable": true,
            "example": [
              "/?page=1"
            ]
          }
        }
      }
    }
  }
}